PORT=3000

# SQL Server
DB_SERVER=localhost
DB_DATABASE=db_dlaudo_erp
DB_USER=sa
DB_PASSWORD=12345
DB_ENCRYPT=false
DB_TRUST_CERT=true
DB_CONNECTION_TIMEOUT=60000
DB_REQUEST_TIMEOUT=60000

# Auth
JWT_SECRET=troque_esta_chave_em_producao
JWT_EXPIRES_IN=8h

# SSL
# Defina os caminhos dos arquivos PEM se quiser usar certificados personalizados.
SSL_KEY_PATH=localhost+1-key.pem
SSL_CERT_PATH=localhost+1.pem
