USE [db_dlaudo_erp]
GO
/****** Object:  Table [dbo].[geo_activo_componente]    Script Date: 11/07/2026 10:59:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geo_activo_componente](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_activo] [bigint] NULL,
	[componente] [nvarchar](50) NULL,
	[estado] [nvarchar](50) NULL,
	[lat] [nvarchar](50) NULL,
	[long] [nvarchar](50) NULL,
	[reservado13] [nvarchar](50) NULL,
	[reservado19] [nvarchar](50) NULL,
 CONSTRAINT [PK_geo_activo_componente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[geo_bairro]    Script Date: 11/07/2026 10:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geo_bairro](
	[id] [int] IDENTITY(206,3) NOT NULL,
	[bairro] [nvarchar](50) NULL,
	[id_cidade] [int] NULL,
 CONSTRAINT [PK_geo_bairro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[geo_cidade]    Script Date: 11/07/2026 10:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geo_cidade](
	[id] [int] IDENTITY(1027,3) NOT NULL,
	[cidade] [nvarchar](50) NULL,
	[Provincia] [nvarchar](50) NULL,
 CONSTRAINT [PK_geo_cidade] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[geo_poste]    Script Date: 11/07/2026 10:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[geo_poste](
	[id] [bigint] IDENTITY(1100,3) NOT NULL,
	[latitude] [nvarchar](50) NULL,
	[longitude] [nvarchar](50) NULL,
	[altitude] [decimal](6, 2) NULL,
	[precisao_gps] [decimal](5, 2) NULL,
	[id_tipo_poste] [int] NULL,
	[id_bairro] [int] NULL,
	[altura] [decimal](4, 2) NULL,
	[material] [nvarchar](50) NULL,
	[ano_instalacao] [bigint] NULL,
	[concessionaria] [nvarchar](50) NULL,
	[possui_aterramto] [bit] NULL,
	[resistencia_atrramto] [nvarchar](50) NULL,
	[data_ultima_medicao] [date] NULL,
	[tipo_isolamento] [nvarchar](50) NULL,
	[estado_isolmnt] [nchar](10) NULL,
	[nivel_risco] [nvarchar](50) NULL,
	[pontuacao_risco] [int] NULL,
	[data_cadastro] [date] NULL,
	[cadastrado_por] [nvarchar](50) NULL,
	[fonte_dados] [nvarchar](50) NULL,
	[imgem] [varbinary](max) NULL,
 CONSTRAINT [PK_geo_poste] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[geo_postecadastro]    Script Date: 11/07/2026 10:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[geo_postecadastro](
	[id] [bigint] IDENTITY(1100,3) NOT NULL,
	[latitude] [nvarchar](50) NULL,
	[longitude] [nvarchar](50) NULL,
	[altitude] [decimal](6, 2) NULL,
	[precisao_gps] [decimal](5, 2) NULL,
	[id_tipo_poste] [int] NULL,
	[id_bairro] [int] NULL,
	[altura] [decimal](4, 2) NULL,
	[material] [nvarchar](50) NULL,
	[ano_instalacao] [bigint] NULL,
	[concessionaria] [nvarchar](50) NULL,
	[possui_aterramto] [bit] NULL,
	[resistencia_atrramto] [nvarchar](50) NULL,
	[data_ultima_medicao] [date] NULL,
	[tipo_isolamento] [nvarchar](50) NULL,
	[estado_isolmnt] [nchar](10) NULL,
	[nivel_risco] [nvarchar](50) NULL,
	[pontuacao_risco] [int] NULL,
	[data_cadastro] [date] NULL,
	[cadastrado_por] [nvarchar](50) NULL,
	[fonte_dados] [nvarchar](50) NULL,
	[imgem] [varbinary](max) NULL,
 CONSTRAINT [PK_geo_postecadastro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[geo_tipo_poste]    Script Date: 11/07/2026 10:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geo_tipo_poste](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_poste] [nvarchar](50) NULL,
 CONSTRAINT [PK_geo_tipo_poste] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nivel_acesso]    Script Date: 11/07/2026 10:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nivel_acesso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[desc_nivel_acesso] [nvarchar](150) NOT NULL,
	[nivel] [int] NULL,
 CONSTRAINT [PK_nivel_acesso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuario]    Script Date: 11/07/2026 10:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[senha] [nvarchar](max) NULL,
	[Id_nivel_acesso] [int] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[v_user]    Script Date: 11/07/2026 10:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_user]
AS
SELECT        dbo.usuario.*
FROM            dbo.usuario





















GO
ALTER TABLE [dbo].[geo_activo_componente]  WITH CHECK ADD  CONSTRAINT [FK_geo_activo_componente_geo_poste] FOREIGN KEY([id_activo])
REFERENCES [dbo].[geo_poste] ([id])
GO
ALTER TABLE [dbo].[geo_activo_componente] CHECK CONSTRAINT [FK_geo_activo_componente_geo_poste]
GO
ALTER TABLE [dbo].[geo_bairro]  WITH CHECK ADD  CONSTRAINT [FK_geo_bairro_geo_cidade] FOREIGN KEY([id_cidade])
REFERENCES [dbo].[geo_cidade] ([id])
GO
ALTER TABLE [dbo].[geo_bairro] CHECK CONSTRAINT [FK_geo_bairro_geo_cidade]
GO
ALTER TABLE [dbo].[geo_poste]  WITH CHECK ADD  CONSTRAINT [FK_geo_poste_geo_bairro] FOREIGN KEY([id_bairro])
REFERENCES [dbo].[geo_bairro] ([id])
GO
ALTER TABLE [dbo].[geo_poste] CHECK CONSTRAINT [FK_geo_poste_geo_bairro]
GO
ALTER TABLE [dbo].[geo_poste]  WITH CHECK ADD  CONSTRAINT [FK_geo_poste_geo_tipo_poste] FOREIGN KEY([id_tipo_poste])
REFERENCES [dbo].[geo_tipo_poste] ([id])
GO
ALTER TABLE [dbo].[geo_poste] CHECK CONSTRAINT [FK_geo_poste_geo_tipo_poste]
GO
ALTER TABLE [dbo].[geo_postecadastro]  WITH CHECK ADD  CONSTRAINT [FK_geo_postecadastro_geo_bairro] FOREIGN KEY([id_bairro])
REFERENCES [dbo].[geo_bairro] ([id])
GO
ALTER TABLE [dbo].[geo_postecadastro] CHECK CONSTRAINT [FK_geo_postecadastro_geo_bairro]
GO
ALTER TABLE [dbo].[geo_postecadastro]  WITH CHECK ADD  CONSTRAINT [FK_geo_postecadastro_geo_tipo_poste] FOREIGN KEY([id_tipo_poste])
REFERENCES [dbo].[geo_tipo_poste] ([id])
GO
ALTER TABLE [dbo].[geo_postecadastro] CHECK CONSTRAINT [FK_geo_postecadastro_geo_tipo_poste]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_nivel_acesso] FOREIGN KEY([Id_nivel_acesso])
REFERENCES [dbo].[nivel_acesso] ([id])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_nivel_acesso]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "usuario"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_user'
GO
